In [20]:
from student import Student

In [24]:
student1 = Student('John', 'Computer Science', 3.6, False)
student2 = Student('Jane', 'Business admin', 3.7, True)
print(student1.gpa)
print(student2.name)

3.6
Jane